<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom" class="tab-animate">
    <ion-tab-button tab="news">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="explore">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="message">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="profile" (click)="openMenu()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>